.input_normal {
  background: #fffefd;
  border: 1px solid #b0b0b0;
  border-radius: 12px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: #b0b0b0;
}

.input_normal:hover {
  background: #ffffff;
  border: 1px solid #2a2a2a;
  border-radius: 12px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: #2a2a2a;
}

.input_active {
  background: #ffffff;
  border: 1px solid #2a2a2a;
  border-radius: 12px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: #2a2a2a;
}

.select_normal {
  background: #fffefd;
  border: 1px solid #b0b0b0;
  border-radius: 12px;
  height: 45px;
}

.select_active {
  background: #ffffff;
  border: 1px solid #2a2a2a;
  border-radius: 12px;
  height: 45px;
}

.btn_red {
  background: #d74867;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  height: 45px;
}

.btn_white {
  background: #f9f7f3;
  border: 1px solid #f3ede1;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  height: 45px;
}

.btn_brown {
  background: #bda06f;
  border: 1px solid #b59662;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  height: 45px;
  color: #ffffff;
}

.btn_brown:hover {
  background: #bda06f;
  border: 1px solid #b59662;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  height: 45px;
  color: #d8d8d8;
}

.dialog_head {
  background: #f1e8d7;
  height: 47px;
  align-content: center;
  border-radius: 20px 20px 0 0;
  width: 375px;
  align-self: center;
  font-size: 18px;
  color: #2a2a2a;
  letter-spacing: 0;
  text-align: center;
  line-height: 32px;
}

.dialog_body {
  background: #f1e8d7;
  width: 375px;
}

.dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.dialog_row {
  display: flex;
  justify-content: left;
  align-items: center;
  align-content: center;
  flex-direction: row;
}

.dialog_text {
  font-size: 15px;
  color: #666666;
}

.dialog_panel_child {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  justify-self: flex-start;
  flex-basis: 100%;
  width: 100%;
}
.dialog_panel {
  display: flex;
  width: 100%;
  margin-top: 15px;
}
